@media (max-width: 575px) {
    #sectionActivities {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .actLarge {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 200px;
        border: 0.1em #F2F2F2 solid;
        border-radius: 20px;
        box-shadow: 2px 5px 5px #F2F2F2;
        margin: 10px;
        background-size: 100% 80%;
        background-repeat: no-repeat;
        background-color: white;
        position: relative;
    }

    .actLarge > p, .contenuActSmall > p {
        position: absolute;
        bottom: 0;
        left: 5%;
    }

    .actSmall {
        display: flex;
        flex-direction: column;
    }

    .contenuActSmall {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 200px;
        border: 0.1em #F2F2F2 solid;
        border-radius: 20px;
        box-shadow: 2px 5px 5px #F2F2F2;
        margin: 10px;
        background-size: 100% 80%;
        background-repeat: no-repeat;
        background-color: white;
        position: relative;
    }

    .activity1 {
        background-image: url("../img/activity/4_small/img_06_reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    }

    .activity4 {
        background-image: url("../img/activity/4_small/img_03_kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
    #sectionActivities {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .actLarge {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 200px;
        border: 0.1em #F2F2F2 solid;
        border-radius: 20px;
        box-shadow: 2px 5px 5px #F2F2F2;
        margin: 10px;
        background-size: 100% 80%;
        background-repeat: no-repeat;
        background-color: white;
        position: relative;
    }

    .actLarge > p, .contenuActSmall > p {
        position: absolute;
        bottom: 0;
        left: 5%;
    }

    .actSmall {
        display: flex;
        flex-direction: column;
    }

    .contenuActSmall {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 200px;
        border: 0.1em #F2F2F2 solid;
        border-radius: 20px;
        box-shadow: 2px 5px 5px #F2F2F2;
        margin: 10px;
        background-size: 100% 80%;
        background-repeat: no-repeat;
        background-color: white;
        position: relative;
    }

    .activity1 {
        background-image: url("../img/activity/4_small/img_06_reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    }

    .activity4 {
        background-image: url("../img/activity/4_small/img_03_kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
    #sectionActivities {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #sectionActivities > div > h2 {
        margin-left: 10px;
    }

    #activitiesVisit {
        display: flex;
    }

    .actLarge {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 422px;
        border: 0.1em #F2F2F2 solid;
        border-radius: 20px;
        box-shadow: 2px 5px 5px #F2F2F2;
        margin: 10px;
        background-size: 100% 86%;
        background-repeat: no-repeat;
        background-color: white;
        position: relative;
    }

    .actLarge > p, .contenuActSmall > p {
        position: absolute;
        bottom: -5px;
        left: 5%;
    }

    .actSmall {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contenuActSmall {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 200px;
        border: 0.1em #F2F2F2 solid;
        border-radius: 20px;
        box-shadow: 2px 5px 5px #F2F2F2;
        margin: 10px;
        /*background-size: 100% 65%;*/
        background-repeat: no-repeat;
        background-color: white;
        position: relative;
    }

    .activity1 {
        background-image: url("../img/activity/4_small/img_06_reno-laithienne-QUgJhdY5Fyk-unsplashResize.jpg");
    }

    .activity4 {
        background-image: url("../img/activity/4_small/img_03_kilyan-sockalingum-NR8-cBCN3aI-unsplashResize.jpg");
    }
}

/*Large devices (desktops)*/
@media (min-width: 992px) {
    #sectionActivities {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #sectionActivities > div > h2 {
        margin-left: 10px;
    }

    #activitiesVisit {
        display: flex;
    }

    .actLarge {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 422px;
        border: 0.1em #F2F2F2 solid;
        border-radius: 20px;
        box-shadow: 2px 5px 5px #F2F2F2;
        margin: 10px;
        background-size: 100% 88%;
        background-repeat: no-repeat;
        background-color: white;
        position: relative;
    }

    .actLarge > p, .contenuActSmall > p {
        position: absolute;
        bottom: -2%;
        left: 5%;
    }

    .actSmall {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contenuActSmall {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 200px;
        border: 0.1em #F2F2F2 solid;
        border-radius: 20px;
        box-shadow: 2px 5px 5px #F2F2F2;
        margin: 10px;
        /*background-size: 100% 65%;*/
        background-repeat: no-repeat;
        background-color: white;
        position: relative;
    }

    .activity1 {
        background-image: url("../img/activity/4_small/img_06_reno-laithienne-QUgJhdY5Fyk-unsplashResize.jpg");
    }

    .activity4 {
        background-image: url("../img/activity/4_small/img_03_kilyan-sockalingum-NR8-cBCN3aI-unsplashResize.jpg");
    }
}


/*Ressources Activities*/


.activity2 {
    background-image: url("../img/activity/4_small/img_05_paul-hermann-QFTrLdQIRhI-unsplashResize.jpg");
}

.activity3 {
    background-image: url("../img/activity/4_small/img_02_kevin-hikari-rV_Qd1l-VXg-unsplashResize.jpg");
}


.activity5 {
    background-image: url("../img/activity/4_small/img_01_florian-wehde-xW9e8gdotxI-unsplashResize.jpg");
}

.activity6 {
    background-image: url("../img/activity/4_small/img_04_lena-paulin-wH2-EJoDcV0-unsplashResize.jpg");
}
